In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\yeliz.sari\\Downloads'

In [3]:
df = pd.read_csv('C:\\Users\\yeliz.sari\\Downloads\\WHO-COVID-19-global-data.csv')

In [4]:
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [9]:
df1 = df[(df['Date_reported'] == '2021-05-15') | (df['Date_reported'] == '2021-06-15')]

In [11]:
df1.reset_index()

,index,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,498,2021-05-15,AF,Afghanistan,EMRO,57,63412,3,2733
1,529,2021-06-15,AF,Afghanistan,EMRO,1814,93272,71,3683
2,1301,2021-05-15,AL,Albania,EURO,49,131939,1,2427
3,1332,2021-06-15,AL,Albania,EURO,2,132461,0,2453
4,2104,2021-05-15,DZ,Algeria,AFRO,170,125059,5,3360
...,...,...,...,...,...,...,...,...,...
469,188431,2021-06-15,YE,Yemen,EMRO,1,6863,1,1350
470,189203,2021-05-15,ZM,Zambia,AFRO,94,92356,0,1260
471,189234,2021-06-15,ZM,Zambia,AFRO,1388,113134,27,1416
472,190006,2021-05-15,ZW,Zimbabwe,AFRO,44,38535,0,1582
473,190037,2021-06-15,ZW,Zimbabwe,AFRO,118,40077,3,1635

In [18]:
df1.iloc[0]

Date_reported         2021-05-15
Country_code                  AF
Country              Afghanistan
WHO_region                  EMRO
New_cases                     57
Cumulative_cases           63412
New_deaths                     3
Cumulative_deaths           2733
Name: 498, dtype: object

In [37]:
 df1['Cumulative_cases'].iloc[0]

63412

In [34]:
result_list = []

for i in range(0, len(df1)):
    if i % 2 == 0:
        first = df1['Cumulative_cases'].iloc[i]
        second = df1['Cumulative_cases'].iloc[i + 1]
    
        result = second - first
    
        result_list.append(result)
    else:
        result_list.append(11111111111111)
        
df1['Case_difference'] = result_list

In [36]:
temp = df1.groupby(['Country'], as_index = False).agg(
    Case_difference = pd.NamedAgg(column = 'Case_difference', aggfunc = 'first'))


temp

                                               Country  Case_difference
0                                          Afghanistan            29860
1                                              Albania              522
2                                              Algeria             8683
3                                       American Samoa                0
4                                              Andorra              316
..                                                 ...              ...
232                                  Wallis and Futuna                0
233                                              Yemen              336
234                                             Zambia            20778
235                                           Zimbabwe             1542
236  occupied Palestinian territory, including east...             8146

[237 rows x 2 columns]

In [14]:
import numpy as np

# Make sure your data is sorted properly
df = df.sort_values(by=['Country', 'Date_reported'])

# only take diffs where next row is of the same group
df['diffs'] = np.where(df.Country == df.Country.shift(1), df.Date_reported.diff(), 0)

TypeError: unsupported operand type(s) for -: 'str' and 'str'